@media (min-width: 700px) {
  aside {
    display: block;
    flex: 1;
  }
  .grid, .error-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .structure-page .structure-container {
    max-width: 960px;
  }
  .structure-page h2 {
    font-size: 1.8rem;
  }
  .structure-page .layout-wrapper pre {
    font-size: 1rem;
    max-width: 600px;
  }
  .lighthouse-results {
    padding: 1.75rem;
    max-width: 700px;
  }
  form {
    padding: 2rem;
  }
}